* {
    box-sizing: border-box;
    font-family: "Microsoft Jhenghei";   
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,div,span {
    margin: 0;
    padding: 0;
    border: 0;
}
img {
    width: 100%;
    vertical-align: top;/**/
}
li {
    list-style: none
}
a {
    text-decoration: none;
    color: #fff;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn{
    display: block;
    padding: 5px 10px;
    background-color: rgb(248, 161, 89);
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
@media screen and (min-width: 540px){
.btn{
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(248, 161, 89);
}
}